{"swagger":"2.0","info":{"title":"NativeSync API","description":"Curated, Unified APIs for Productive Developers","version":"1.0.0"},"host":"api.nativesync.io","schemes":["https"],"basePath":"/v1","consumes":["application/json"],"produces":["application/json"],"securityDefinitions":{"APIKey":{"type":"apiKey","name":"x-api-key","in":"header"}},"paths":{"/http_request/post":{"post":{"tags":["http_request"],"security":[{"APIKey":[]}],"summary":"POST Request","description":"Send a POST request to the specified URL","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/http_request_post_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/http_request_post_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/http_request/get":{"post":{"tags":["http_request"],"security":[{"APIKey":[]}],"summary":"Sends GET request","description":"Sends a HTTP GET request to the specified URL","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/http_request_get_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/http_request_get_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/http_request/parse_html_page":{"post":{"tags":["http_request"],"security":[{"APIKey":[]}],"summary":"Parse a HTML page","description":"Sends a HTTP GET request to the specified URL and parses the result","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/http_request_parse_html_page_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/http_request_parse_html_page_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/hubspot/get_recent_contacts":{"post":{"tags":["hubspot"],"security":[{"APIKey":[]}],"summary":"Recently Updated/Created Contacts","description":"Contacts that have been recently updated or created in Hubspot.","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/hubspot_get_recent_contacts_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/hubspot_get_recent_contacts_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/hubspot/create_contact":{"post":{"tags":["hubspot"],"security":[{"APIKey":[]}],"summary":"Create a Hubspot contact","description":"Creates a Hubspot contact","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/hubspot_create_contact_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/hubspot_create_contact_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/hubspot/update_contact":{"post":{"tags":["hubspot"],"security":[{"APIKey":[]}],"summary":"Update Hubspot contact","description":"Updates a Hubspot contact","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/hubspot_update_contact_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/hubspot_update_contact_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/insightly/get_recent_contacts":{"post":{"tags":["insightly"],"security":[{"APIKey":[]}],"summary":"Recently Updated/Created Contacts","description":"Contacts that have been recently updated or created in Insightly.","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/insightly_get_recent_contacts_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/insightly_get_recent_contacts_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/insightly/create_contact":{"post":{"tags":["insightly"],"security":[{"APIKey":[]}],"summary":"Create a Insightly contact","description":"Creates a Insightly contact","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/insightly_create_contact_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/insightly_create_contact_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/insightly/update_contact":{"post":{"tags":["insightly"],"security":[{"APIKey":[]}],"summary":"Update Insightly contact","description":"Updates a Insightly contact","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/insightly_update_contact_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/insightly_update_contact_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/leadcommerce/get_orders":{"post":{"tags":["leadcommerce"],"security":[{"APIKey":[]}],"summary":"Get Orders","description":"Gets the filtered list of Orders.","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/leadcommerce_get_orders_input"}}],"responses":{"200":{"description":"API call results","schema":{"type":"array","items":{"$ref":"#/definitions/leadcommerce_get_orders_output"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/leadcommerce/get_order_info":{"post":{"tags":["leadcommerce"],"security":[{"APIKey":[]}],"summary":"Get Order Info","description":"Gets Information regard one or more Orders","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/leadcommerce_get_order_info_input"}}],"responses":{"200":{"description":"API call results","schema":{"type":"array","items":{"$ref":"#/definitions/leadcommerce_get_order_info_output"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/leadcommerce/get_order_product_info":{"post":{"tags":["leadcommerce"],"security":[{"APIKey":[]}],"summary":"Get Product Info for Order","description":"Gets Product Information regarding one or more Orders","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/leadcommerce_get_order_product_info_input"}}],"responses":{"200":{"description":"API call results","schema":{"type":"array","items":{"$ref":"#/definitions/leadcommerce_get_order_product_info_output"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/mailchimp/create_list_member":{"post":{"tags":["mailchimp"],"security":[{"APIKey":[]}],"summary":"Subscribe Member to List","description":"Subscribes a member to a Mailchimp list.","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/mailchimp_create_list_member_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/mailchimp_create_list_member_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/mailchimp/update_list_member":{"post":{"tags":["mailchimp"],"security":[{"APIKey":[]}],"summary":"Update List Member","description":"Updates an existing list member in Mailchimp","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/mailchimp_update_list_member_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/mailchimp_update_list_member_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/mailchimp/get_list_member":{"post":{"tags":["mailchimp"],"security":[{"APIKey":[]}],"summary":"Get List Member","description":"Gets a list member by email address","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/mailchimp_get_list_member_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/mailchimp_get_list_member_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/msdynamics/get_recent_contacts":{"post":{"tags":["msdynamics"],"security":[{"APIKey":[]}],"summary":"Recently Updated/Created Contacts","description":"Contacts that have been recently updated or created in Microsoft Dynamics.","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/msdynamics_get_recent_contacts_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/msdynamics_get_recent_contacts_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/msdynamics/create_contact":{"post":{"tags":["msdynamics"],"security":[{"APIKey":[]}],"summary":"Create a Microsoft Dynamics contact","description":"Creates a Microsoft Dynamics contact","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/msdynamics_create_contact_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/msdynamics_create_contact_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/msdynamics/update_contact":{"post":{"tags":["msdynamics"],"security":[{"APIKey":[]}],"summary":"Update Microsoft Dynamics contact","description":"Updates a Microsoft Dynamics contact","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/msdynamics_update_contact_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/msdynamics_update_contact_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/nativesync/login":{"post":{"tags":["nativesync"],"summary":"Login","description":"Returns an API token upon successful login.","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/nativesync_login_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/nativesync_login_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/nativesync/set_credentials":{"post":{"tags":["nativesync"],"security":[{"APIKey":[]}],"summary":"Create/Update Service Credentials","description":"Create/Update a named set of credentials for a particular service","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/nativesync_set_credentials_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/nativesync_set_credentials_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/nativesync/upload_cloud_function":{"post":{"tags":["nativesync"],"security":[{"APIKey":[]}],"summary":"Upload Cloud Function","description":"Creates/Updates a function in the nativesync cloud","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/nativesync_upload_cloud_function_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/nativesync_upload_cloud_function_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/nativesync/trigger_cloud_function":{"post":{"tags":["nativesync"],"security":[{"APIKey":[]}],"summary":"Trigger Cloud Function","description":"Triggers a function in the nativesync cloud with the specified input","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/nativesync_trigger_cloud_function_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/nativesync_trigger_cloud_function_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/plexsystems/add_ecommerce_order":{"post":{"tags":["plexsystems"],"security":[{"APIKey":[]}],"summary":"Add Ecommerce Order","description":"Adds an ecommerce order to plex","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/plexsystems_add_ecommerce_order_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/plexsystems_add_ecommerce_order_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/plexsystems/add_ecommerce_order_line":{"post":{"tags":["plexsystems"],"security":[{"APIKey":[]}],"summary":"Adds an Ecommerce Order Line","description":"Adds a line to an existing Ecommerce Order","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/plexsystems_add_ecommerce_order_line_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/plexsystems_add_ecommerce_order_line_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/sharpspring/get_recent_contacts":{"post":{"tags":["sharpspring"],"security":[{"APIKey":[]}],"summary":"Recently Updated/Created Contacts","description":"Contacts that have been recently updated or created in Sharpspring.","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/sharpspring_get_recent_contacts_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/sharpspring_get_recent_contacts_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/sharpspring/create_contact":{"post":{"tags":["sharpspring"],"security":[{"APIKey":[]}],"summary":"Create a Sharpspring contact","description":"Creates a Sharpspring contact","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/sharpspring_create_contact_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/sharpspring_create_contact_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/sharpspring/update_contact":{"post":{"tags":["sharpspring"],"security":[{"APIKey":[]}],"summary":"Update Sharpspring contact","description":"Updates a Sharpspring contact","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/sharpspring_update_contact_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/sharpspring_update_contact_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/sql_query/select":{"post":{"tags":["sql_query"],"security":[{"APIKey":[]}],"summary":"Select Query","description":"Please review our DB security guide before attempting this function.","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/sql_query_select_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/sql_query_select_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/sql_query/insert":{"post":{"tags":["sql_query"],"security":[{"APIKey":[]}],"summary":"Insert Query","description":"Please review our DB security guide before attempting this function.","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/sql_query_insert_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/sql_query_insert_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/sql_query/update":{"post":{"tags":["sql_query"],"security":[{"APIKey":[]}],"summary":"Update Query","description":"Please review our DB security guide before attempting this function.","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/sql_query_update_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/sql_query_update_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/sql_query/delete":{"post":{"tags":["sql_query"],"security":[{"APIKey":[]}],"summary":"Delete Query","description":"Please review our DB security guide before attempting this function.","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/sql_query_delete_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/sql_query_delete_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/test/ping":{"post":{"tags":["test"],"security":[{"APIKey":[]}],"summary":"Ping","description":"Returns pong","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/test_ping_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/test_ping_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/test/debug_value":{"post":{"tags":["test"],"security":[{"APIKey":[]}],"summary":"Echo Value","description":"Returns the values passed in by the user","parameters":[{"name":"credentials_name","in":"query","description":"Optional name of the credentials to use with this request","required":false,"type":"string"},{"name":"input","in":"body","description":"Input to API","required":true,"schema":{"$ref":"#/definitions/test_debug_value_input"}}],"responses":{"200":{"description":"API call results","schema":{"$ref":"#/definitions/test_debug_value_output"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}}},"definitions":{"http_request_post_input":{"type":"object"},"http_request_get_input":{"type":"object"},"http_request_parse_html_page_input":{"type":"object","required":["url","headers"],"properties":{"url":{"type":"string"},"headers":{"type":"object"}}},"http_request_post_output":{"type":"object"},"http_request_get_output":{"type":"object"},"http_request_parse_html_page_output":{"type":"object","required":["document"],"properties":{"document":{"type":"object","description":"HTML document in a hash/array format"}}},"hubspot_get_recent_contacts_input":{"type":"object","required":["time"],"properties":{"time":{"type":"string"}}},"hubspot_create_contact_input":{"type":"object","required":["firstname","lastname","email","custom_fields"],"properties":{"firstname":{"type":"string"},"lastname":{"type":"string"},"email":{"type":"string"},"custom_fields":{"type":"object"}}},"hubspot_update_contact_input":{"type":"object","required":["vid","firstname","lastname","email","custom_fields"],"properties":{"vid":{"type":"string"},"firstname":{"type":"string"},"lastname":{"type":"string"},"email":{"type":"string"},"custom_fields":{"type":"object"}}},"hubspot_get_recent_contacts_output":{"type":"object"},"hubspot_create_contact_output":{"type":"object"},"hubspot_update_contact_output":{"type":"object"},"insightly_get_recent_contacts_input":{"type":"object","required":["time"],"properties":{"time":{"type":"string"}}},"insightly_create_contact_input":{"type":"object","required":["firstname","lastname","email","custom_fields"],"properties":{"firstname":{"type":"string"},"lastname":{"type":"string"},"email":{"type":"string"},"custom_fields":{"type":"object"}}},"insightly_update_contact_input":{"type":"object","required":["vid","firstname","lastname","email","custom_fields"],"properties":{"vid":{"type":"string"},"firstname":{"type":"string"},"lastname":{"type":"string"},"email":{"type":"string"},"custom_fields":{"type":"object"}}},"insightly_get_recent_contacts_output":{"type":"object"},"insightly_create_contact_output":{"type":"object"},"insightly_update_contact_output":{"type":"object"},"leadcommerce_get_orders_input":{"type":"object","required":["status","display_id","alternative_id","total_max","total_min","paid_max","paid_min","sale_channel","company","customer_id","customer_type","fully_received_start","fully_received_end","placed_start","placed_end","modify_start","modify_end","limit","page"],"properties":{"status":{"type":"integer"},"display_id":{"type":"integer"},"alternative_id":{"type":"integer"},"total_max":{"type":"number"},"total_min":{"type":"number"},"paid_max":{"type":"number"},"paid_min":{"type":"number"},"sale_channel":{"type":"integer"},"company":{"type":"integer"},"customer_id":{"type":"integer"},"customer_type":{"type":"integer"},"fully_received_start":{"type":"string","format":"date"},"fully_received_end":{"type":"integer"},"placed_start":{"type":"integer"},"placed_end":{"type":"integer"},"modify_start":{"type":"integer"},"modify_end":{"type":"integer"},"limit":{"type":"integer"},"page":{"type":"integer"}}},"leadcommerce_get_order_info_input":{"type":"object","required":["order_ids"],"properties":{"order_ids":{"type":"array","items":{"type":"integer"}}}},"leadcommerce_get_order_product_info_input":{"type":"object","required":["order_ids"],"properties":{"order_ids":{"type":"array","items":{"type":"integer"}}}},"leadcommerce_get_orders_output":{"type":"object","required":["order_info"],"properties":{"order_info":{"type":"object"}}},"leadcommerce_get_order_info_output":{"type":"object","required":["order_info"],"properties":{"order_info":{"type":"object"}}},"leadcommerce_get_order_product_info_output":{"type":"object","required":["product_info"],"properties":{"product_info":{"type":"object"}}},"mailchimp_create_list_member_input":{"type":"object","required":["list_id","status","first_name","last_name","email_address"],"properties":{"list_id":{"type":"integer"},"status":{"type":"string"},"first_name":{"type":"string"},"last_name":{"type":"string"},"email_address":{"type":"string"}}},"mailchimp_update_list_member_input":{"type":"object","required":["list_id","status","first_name","last_name","email_address"],"properties":{"list_id":{"type":"integer"},"status":{"type":"string"},"first_name":{"type":"string"},"last_name":{"type":"string"},"email_address":{"type":"string"}}},"mailchimp_get_list_member_input":{"type":"object","required":["list_id","email_address"],"properties":{"list_id":{"type":"integer"},"email_address":{"type":"string"}}},"mailchimp_create_list_member_output":{"type":"object"},"mailchimp_update_list_member_output":{"type":"object"},"mailchimp_get_list_member_output":{"type":"object"},"msdynamics_get_recent_contacts_input":{"type":"object","required":["time"],"properties":{"time":{"type":"string"}}},"msdynamics_create_contact_input":{"type":"object","required":["firstname","lastname","email","custom_fields"],"properties":{"firstname":{"type":"string"},"lastname":{"type":"string"},"email":{"type":"string"},"custom_fields":{"type":"object"}}},"msdynamics_update_contact_input":{"type":"object","required":["vid","firstname","lastname","email","custom_fields"],"properties":{"vid":{"type":"string"},"firstname":{"type":"string"},"lastname":{"type":"string"},"email":{"type":"string"},"custom_fields":{"type":"object"}}},"msdynamics_get_recent_contacts_output":{"type":"object"},"msdynamics_create_contact_output":{"type":"object"},"msdynamics_update_contact_output":{"type":"object"},"nativesync_login_input":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string"},"password":{"type":"string"}}},"nativesync_set_credentials_input":{"type":"object","required":["credentials","service_name","name"],"properties":{"credentials":{"type":"object","description":"A hash representing the credentials required for the service"},"service_name":{"type":"string","description":"The name of the service to set credentials for"},"name":{"type":"string","description":"An optional name for the credential set. Use this later to specify a particular set of credentials to use for an API call."}}},"nativesync_upload_cloud_function_input":{"type":"object","required":["function_name","program","schedule","language","description"],"properties":{"function_name":{"type":"string","description":"The name of your cloud function, only alphanumeric characters and underscores are allowed."},"program":{"type":"string","description":"The cloud function program as specified by the nativesync documentation."},"schedule":{"type":"string","description":"A schedule specified in cron format for how often the function should execute (visit http://crontab.guru/ for examples). Note - a job cannot be scheduled to run more than once every 15 minutes currently."},"language":{"type":"string","description":"by default, only the value 'nodejs' is supported."},"description":{"type":"string"}}},"nativesync_trigger_cloud_function_input":{"type":"object","required":["function_name","input"],"properties":{"function_name":{"type":"string","description":"The name of your cloud function, only alphanumeric characters and underscores are allowed."},"input":{"type":"object","description":"A hash specifying input variables to send to the function"}}},"nativesync_login_output":{"type":"object","required":["apikey"],"properties":{"apikey":{"type":"string"}}},"nativesync_set_credentials_output":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}},"nativesync_upload_cloud_function_output":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}},"nativesync_trigger_cloud_function_output":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean"}}},"plexsystems_add_ecommerce_order_input":{"type":"object","required":["customer_code","ship_to_customer_address_code","bill_to_customer_address_code"],"properties":{"customer_code":{"type":"string"},"ship_to_customer_address_code":{"type":"string"},"bill_to_customer_address_code":{"type":"string"}}},"plexsystems_add_ecommerce_order_line_input":{"type":"object","required":["customer_code","order_no","part_no","price","quantity"],"properties":{"customer_code":{"type":"string"},"order_no":{"type":"string"},"part_no":{"type":"string"},"price":{"type":"number"},"quantity":{"type":"integer"}}},"plexsystems_add_ecommerce_order_output":{"type":"object","required":["order_no","result_code","result_message","result_error"],"properties":{"order_no":{"type":"string"},"result_code":{"type":"integer"},"result_message":{"type":"string"},"result_error":{"type":"boolean"}}},"plexsystems_add_ecommerce_order_line_output":{"type":"object","required":["result_code","result_message","result_error"],"properties":{"result_code":{"type":"integer"},"result_message":{"type":"string"},"result_error":{"type":"boolean"}}},"sharpspring_get_recent_contacts_input":{"type":"object","required":["time"],"properties":{"time":{"type":"string"}}},"sharpspring_create_contact_input":{"type":"object","required":["firstname","lastname","email","custom_fields"],"properties":{"firstname":{"type":"string"},"lastname":{"type":"string"},"email":{"type":"string"},"custom_fields":{"type":"object"}}},"sharpspring_update_contact_input":{"type":"object","required":["vid","firstname","lastname","email","custom_fields"],"properties":{"vid":{"type":"string"},"firstname":{"type":"string"},"lastname":{"type":"string"},"email":{"type":"string"},"custom_fields":{"type":"object"}}},"sharpspring_get_recent_contacts_output":{"type":"object"},"sharpspring_create_contact_output":{"type":"object"},"sharpspring_update_contact_output":{"type":"object"},"sql_query_select_input":{"type":"object","required":["db_type","connect_string","query"],"properties":{"db_type":{"type":"string","description":"allowed: mysql, postgresql"},"connect_string":{"type":"string","description":"DB connect string"},"query":{"type":"string"}}},"sql_query_insert_input":{"type":"object","required":["db_type","connect_string","query"],"properties":{"db_type":{"type":"string","description":"allowed: mysql, postgresql"},"connect_string":{"type":"string","description":"DB connect string"},"query":{"type":"string"}}},"sql_query_update_input":{"type":"object","required":["db_type","connect_string","query"],"properties":{"db_type":{"type":"string","description":"allowed: mysql, postgresql"},"connect_string":{"type":"string","description":"DB connect string"},"query":{"type":"string"}}},"sql_query_delete_input":{"type":"object","required":["db_type","connect_string","query"],"properties":{"db_type":{"type":"string","description":"allowed: mysql, postgresql"},"connect_string":{"type":"string","description":"DB connect string"},"query":{"type":"string"}}},"sql_query_select_output":{"type":"object"},"sql_query_insert_output":{"type":"object"},"sql_query_update_output":{"type":"object"},"sql_query_delete_output":{"type":"object"},"test_ping_input":{"type":"object"},"test_debug_value_input":{"type":"object"},"test_ping_output":{"type":"object","required":["pong"],"properties":{"pong":{"type":"string"}}},"test_debug_value_output":{"type":"object"},"error":{"type":"string"}}}